<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-content">
      <div class="footer-branding">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p class="footer-description">{{- site.description | escape -}}</p>
      </div>
      
      <div class="footer-social">
        {%- include social.html -%}
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }}. All rights reserved.</p>
    </div>
  </div>
</footer>
