<header class="site-header" role="banner">

  <div class="header-wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <div class="site-categories">
      {%- assign sorted_categories = site.categories | sort -%}
      {%- for category in sorted_categories -%}
        <a class="page-link" href="{{ '/category/' | append: category[0] | relative_url }}">{{ category[0] | capitalize }}</a>
      {%- endfor -%}
    </div>

    {%- if page_paths -%}
      {%- include hamburger-menu.html -%}
    {%- endif -%}
  </div>
</header>
